*{
    margin:0;
    padding:0;
    font-family: 'Work Sans', sans-serif;;
}
:root{
    --h1-big-font-size: 3rem;
    --linear-pink: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    --linear-purple: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --paragraph-short-size: 18px;
    --paragraph-large-size:20px; 
    --paragraph-common-color:#534C64;
}

/* common styles */
h1{
    font-size: var(--h1-big-font-size);
    font-weight: 700;
    color:#0B0223;
}
p{
    font-size: var(--paragraph-short-size);
    line-height: 30px;
    color: var(--paragraph-common-color);
    font-weight:400;
}
.linear-purple-title{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom:20px;
}

/* navigation styles */
nav{
    display:flex;
    justify-content: space-between;
    padding:40px 240px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}


.logo{
    display:flex;
    gap:20px;
}
.logo>img{
    height:fit-content;
    margin-top:7px;
}
.logo-title{
    font-size:2.8rem;
}
.first-letter-color{
    background: var(--linear-pink);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.menu-items ul{
    list-style-type: none;
    display:flex;
    align-items: center;
    gap:40px;
}
.menu-items ul li a{
    text-decoration: none;
    color: #3C354F;
    font-size: var(--paragraph-short-size);
    font-weight: 500;
}
#follow-us{
    display:flex;
    gap:20px;
    width: 265px;
    height: 55px;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    justify-content: center;
    align-items:center;
}

/* banner section styles */
#banner{
    display:flex;
}
#banner-content{
    background:url('./images/Group 14.png');
    width:100%;
    background-repeat: no-repeat;
    padding: 6% 13%;
}
.banner-paragraph{
    display:flex;
    gap:20px;
    align-items: center;
    margin-top:30px;
}
#banner-content p{
    font-size: var(--paragraph-large-size);
    color:var(--paragraph-common-color);
    line-height:15px;
}
.fa-circle-play, .fa-user-group, .fa-download{
    color:#FF42A5;
}
#banner-top-title{
    font-weight: 600;
}
#banner-goat-title{
    background: var(--linear-purple);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    font-weight: 800;
}
#banner-btn{
    display:inline-flex;
    gap:20px;
    margin-top:50px;
}
.btn-primary{
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background:var(--linear-pink);
    border:none;
    color: #FFF;
    font-size: var(--paragraph-large-size);
    font-weight: 600;
}
.go-rouge-btn{
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border:none;
    color: #FFF;
    font-size: var(--paragraph-large-size);
    font-weight: 600;
}
#banner-bg{
    margin-bottom: -5px;
    margin-right:11%;
}

/* We are gamer section styles */
#we-are-gamer{
    background:linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    text-align:right;
    padding: 85px 240px 30px;
    display:flex;

}

#we-are-gamer button{
    margin:30px 0px;
}
.we-are-gamer-img{
    position: relative;
    bottom: 40px;
}
.our-purpose{
    font-size: 24px !important;
    font-weight: 500;
    margin-bottom: 10px;
}
.unleash-the-gamer{
    font-size: 32px !important;
    font-weight: 700;
}

/* online games section */
#online-games{
    padding:85px 240px;
}
.videos-grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top:50px;
    grid-gap: 10px;
}
#online-games-title, #online-games-title-description{
    text-align: center;
    margin-bottom:30px;
}
#online-games p{
    font-size: var(--paragraph-large-size);
    font-weight:500;
    margin-top:15px;
}

.video-images{
    position: relative;
    overflow: hidden;
}
.video-images:hover{
    border: 4px solid #FF42A5;
    border-radius: 16px;
}

.video-images img{
    display: block;
    width: 100%;
    height: 100%;
}
.watch-now{
    background: #00000099;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.video-images:hover .watch-now {
    opacity: 1;
    cursor: pointer;
}
.watch-now-icon {
    color: white;
    margin-bottom:10px;
}
.watch-now a{
    background: var(--linear-pink);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

/* Play instantly section */
#play-instantly{
    display: flex;
    justify-content: center;
    padding-bottom:30px
}
.play-content{
    text-align: right;
    margin-top:140px;
    margin-left:100px;
}
.play-content-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-images{
    flex-shrink:0;
}
#play-instantly p{
    max-width:355px;
}
.cat-image{
    position:relative;
    top:70px;
    left:180px;
}
/* career style */
#careers{
    margin-top:150px;
    margin-bottom:100px;
}
.careers-container{
    background: var(--linear-pink);
    display: flex;
}

#career-content {
    margin-left: 210px;
    margin-top: 120px;
    color:#FFF;
}
#career-title, #career-desc, #list1, list2{
    color:#FFF;
}
#career-title, #career-desc{
    margin-bottom:30px;
}
#list{
    display:flex;
    justify-content:space-between;
    line-height:40px;
    margin-bottom:30px;
}
#list ul{
    list-style-type: none;
}
#list ul li{
    font-size:var(--paragraph-large-size)
}
#list1{
    text-align: left;
}
#list2{
    text-align:right;
}
#career-button{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #FFF;
    border:none;
    
}
#career-button-text{
    background: var(--linear-pink);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--paragraph-large-size);
    font-weight: 600;
}

/* games section */
#games{
    margin-bottom:100px;
}
#games-container{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    padding:30px 240px;
    row-gap: 50px;
}
.games-content{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.games-content:hover{
    
    border:2px solid #FF42A5;
    border-radius:35px;
    cursor: pointer;
}
.games-content:hover p{
    color:#FF42A5;
    
}

/* footer styles */